<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/base.css">
</head>
<body>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.md5.js"></script>
	<script type="text/javascript" src="/js/register.js"></script>
	{% block content %}
	{% endblock %}
	{% block footer %}
	<div id="footer">
		<i>© 2013 CopyRight</i>
	</div>
	{% endblock %}
</body>
</html>