{% extends "base.html" %}

{% block title %}
	首页
{% endblock %}

{% block content %}
<script>
	$(function(){
		$(window).resize(function(){
	        $('#home-pics img').css({
	            left: ($(window).width() - $('#home-pics img').outerWidth())/ 2,
	            top: ($(window).height() - $('#home-pics img').outerHeight())/ 2
	        });
	    });

	});
	// function _submit(){
	// 	var username = $('#username').val();
	// 	var password = $('#password').val();
	// 	if(password == ""){
	// 		$('#loginTip').html('You need a password !').show();
	// 	}else{
	// 		$.post('/user/login/',{'username':username,'password':password},function(data){
	// 			if(data == 'ok'){
	// 				location.href = "/user/login"
	// 			}else{
	// 				$('#loginTip').html('Wrong password !').show();
	// 			}
	// 		});
	// 	}
	// }
	function set_img(){
	    var i_left = ($(window).width() - $('#home-pics img:last-child').outerWidth())/ 2;
	    var i_top = ($(window).height() - $('#home-pics img:last-child').outerHeight())/ 2;
	    $('#home-pics img:last-child').css({
	        left: i_left,
	        top: i_top
	    });
	}
</script>
<div id="home-pics">
    <img src="/static/image/slider_pic_9.jpg" onload="set_img()"/>
</div>
<div id="home-right">
	<section id="login-wrapper">
		<form id="loginform" method="POST" action="">
			{% csrf_token %}
			<h2>欢迎回来</h2>
	 		<div class="login-container"><input id="username" type="text"  disabled="disabled" value="{{ user_name }}" class="disabledinput b"><i class="icon-user color999"></i></div>
	 		<span class="dn" id="loginTip">Tip:</span>
			<div class="login-container"><input id="password" type="password" autofocus class="normalinput" placeholder="password:"><i class="icon-lock"></i></div>
	    	<input name="" type="submit" class="login-btn" value="LOGIN"/>
		</form>
	</section>	
</div>
{% endblock %}