{% extends "base.html" %}

{% block title %}
	欢迎加入TouchBox
{% endblock %}

{% block content %}
<!--[if IE]> <style> #login{ background:#0090C7; } </style> <![endif]-->
<div style="width:100%;height:100%;">
	<div id="login-wrapper">
		<h3 style="color:#FFF;margin-bottom:20px;">输入一个密码马上体验</h3>
		<ul class="login-ul">
		<li class="input user"><label style="color:#FFF;"><b>Hello</b> {{ user_name }} ~</label><input value="" disabled="disabled"></li>
		<li class="input pwd"><input value="" placeholder="password：" id="password" type="password"/><i class="icon-lock icon-1x"></i></li>
		<li class="input pwd"><input value="" placeholder="confirm password" id="password_r" type="password"/><i class="icon-lock icon-1x"></i></li>
		<button id="submit" type="submit">Login</button>
		</ul>
	</div>
</div>
{% endblock %}