{% extends "base.html" %}

{% block title %}
	用户登录首页
{% endblock %}

{% block content %}
<script>
	function _logout(){
		location.href = "/user/logout"
	}
</script>
<!--[if IE]> <style> #login{ background:#0090C7; } </style> <![endif]-->
<div style="width:100%;height:100%;">
	<div id="account" class="box">
		<span id="avatar">
			<img src="/static/image/avatar.jpg" alt="">
		</span>
		<div id="account-setting">
			<span></span>
			<span><button stype="submit" onclick="_logout()"><i class="icon-off"></i></button></span>
		</div>
	</div>
	
</div>
{% endblock %}